extends layout-blank

block content
    section#error-container
        .block-error
            .alert.alert-danger
                | #{message}
                p
                if (backuri)
                    a.btn.btn-info(href='#{adminDir+backuri}') 返回
                else
                    a.btn.btn-info(href='#{adminDir}') 返回
               
                   
